*.classpath
*.mymetadata
.settings/org.eclipse.wst.common.component
*.jsdtscope
.settings/org.eclipse.jdt.core.prefs
*.container
.settings/org.eclipse.wst.common.project.facet.core.xml
*.name
.settings/org.eclipse.core.resources.prefs
*.class